:root{
--ink-black:#011C27;
--white:#ffffff;
--jet-black:#272D2D;
--card-bg: #ffffffd9;
--shadow: #00000033;
--golden: #DACC3E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body{
background:#f5f5f5;
}

/* HEADER */

header{
background:var(--ink-black);
color:var(--white);
text-align:center;
padding:25px;
font-size:1.8rem;
border-bottom: 4px solid var(--golden);
font-family: "Poppins", sans-serif;
}

/* HERO */

.hero{
position:relative;
}

.hero img{
width:100%;
height:auto;
display:block;
object-fit: cover;
}

/* DATA CARD */

.data-card {
position:absolute;
left:20px;
top:60px;
background:var(--card-bg);
padding:20px;
box-shadow:var(--shadow);
width:280px;
font-family: "Play", sans-serif;
box-shadow: 0 6px 18px var(--shadow);

}

.data-card h2{
background:var(--ink-black);
color:white;
padding:10px;
margin:-20px -20px 15px -25px;
left: -10px;
width: calc(90% + 40px);
}

.data-card p {
  font-size: 1rem;
  color: var(--paragraph);
  margin-bottom: 0.35rem;
  line-height: 1.4;
}

/* WEATHER CARD */

.weather-card {
position:absolute;
right:20px;
bottom:60px;
background:var(--card-bg);
padding:20px;
box-shadow:var(--shadow);
width:280px;
font-family: "Play", sans-serif;

}

.weather-card h2{
background:var(--ink-black);
color:white;
padding:10px;
margin:-20px -20px 15px -25px;
left: 0;
width: calc(90% + 40px);
}

/* pseudo weather icon desktop */

.weather-card h2::after{
content:" ⛅";
}

/* hide svg on desktop */
.mobile-weather-icon {
display:none;
width:70px;
margin:auto;
}

/* FOOTER */

footer{
background:var(--jet-black);
color:white;
text-align:center;
padding:20px;
font-family: "Play", sans-serif;
}

