@media (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .nutri-grid-container {
        grid-template-columns: repeat(3, 1fr); 
    }

}



/* Responsive */
@media (max-width: 968px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
}
    .circle-outer { width: 320px; height: 320px; }
    .circle-inner { width: 270px; height: 270px; }
    .dot-indicator { justify-content: center; }
}
